@tailwind base;
@tailwind components;
@tailwind utilities;


.main-bkg{
    height: 700px;
}

.fancy {
     
      background-image: 
        url('https://img.jagranjosh.com/images/2023/February/622023/total-countries-in-the-world.webp');
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
  
  }